@model TimeReportProject.ViewModels.DayWiseViewModel  
<div id=displayresults>
<div class="container" style="padding-top:50px">
    <div class="row">
        <div class="panel panel-default">

            <div class="panel-heading text-center">
                
                <div class="panel-title">Consultant wise time report (For the current financial year)</div>
            </div>

            <div class="panel-body">
                @if(Model.Users.Count>1)
                    {
                    <form id="projectform" method="post" asp-action="DateWiseDetails" asp-controller="TimeEntry">
                   <div class="row">
                     <div class="col-lg-12">
                        <div id="div1" runat="server" class="panel panel-primary">
                           <div class="panel-heading text-center" style="padding:0px;">Options</div>
                             <div class="panel-body">
                                <div class="row">
                                       <div class="col-lg-2">@Html.Label("UserID", "Consultant Name", new { @class = "form-control-static" })</div>
                                       <div class="col-lg-4">@Html.DropDownListFor(x => x.UserID , Model.Users , new { @class = "form-control dropdown input-sm", @id="UserID"})</div>
                                      
                                </div>                          
                                <div class=row>
                                    <div class="col-lg-2">@Html.Label("MonthID", "For the month", new { @class = "form-control-static" })</div>
                                    <div class="col-lg-4">@Html.DropDownListFor(x => x.MonthID , Model.Months, new { @class = "form-control dropdown input-sm",@id = "MonthID"  })</div>
                                 
                                    <div class="col-lg-2">@Html.Label("ScheduleDate", "For the date", new { @class = "form-control-static" })</div>
                                   <div class="col-lg-2">
                                   @Html.TextBoxFor(model => model.ScheduleDate , new { @class = "form-control input-sm", @maxlength = "10" ,@id="ScheduleDate"})
                                   </div>
                                </div>
                                <div class=row>
                                    <div class="col-lg-12  text-center">
                                         <button id="btnSearch" type="submit" class="btn btn-sm btn-primary">Search</button>

 
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                     </div>
                   </div>
               </form> 
                        
                    }
                    else

                    {
                  
                    <div class="row">
                        <div class="col-lg-10">
                           <h6 style="color:maroon">Consultant details not available.</h6>
                        </div>

                     </div>
                  
                    }

                
                
                @if(Model.DayWiseDetails!=null)
                { @if(Model.DayWiseDetails.Count>0)
               {
                        <div class=row>
                            <div class=col-lg-12>
                                <table id= "datewisetable" class="table  table-bordered  table-condensed table-fixedhead">
                                    <thead class="bg-primary" style="font-size:12px">
                                        <tr><td>Project</td><td>Date</td><td>Working Hours</td><td>Lunch Time</td><td>Comments</td></tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var detail in Model.DayWiseDetails)
                                        {
                                            <tr style="font-size:12px">
                                              <td width=20%>@detail.Project.ProjectName </td>
                                                <td width=10%>@String.Format("{0:d}",@detail.EntryDate )</td>
                                                <td width=15%>@String.Format("{0:hh:mm tt}",@detail.StartTime) - @String.Format("{0:hh:mm tt}",@detail.EndTime)   </td>
                                               
                                                <td width=15%> @String.Format("{0:hh:mm tt}",@detail.StartLunchTime) - @String.Format("{0:hh:mm tt}",@detail.EndLunchTime)
 
                                                 </td>
                                               <td wdith=40%>@detail.Comments </td>
                               
                                            </tr>

                                         }

                                 </tbody>
                             </table>
               
                 </div>
               </div>
                <nav id= "navpage" aria-label="Page navigation example">
           <ul class="pagination justify-content-center d-flex flex-wrap">
            @if (Model.Pager.CurrentPage > 1)
            {
             
                <li class="page-item">
                     <a href="#" class="page-link" data-pageno="@(Model.Pager.CurrentPage - 1)">Previous</a>
                   
                </li>
            }
             @if (Model.Pager.StartPage != Model.Pager.EndPage)
              {
               @for (var p = Model.Pager.StartPage; p <= Model.Pager.EndPage; p++)
               {
                <li class="page-item @(p == Model.Pager.CurrentPage ? "active" : "")">
                    <a class="page-link" href="#" data-pageno="@p">@p</a>
                </li>
               }
             }
            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li class="page-item">
                   <a class="page-link" href="#" data-pageno="@(Model.Pager.CurrentPage + 1)">Next</a>
                </li>
              
            }
          </ul>     
        </nav>
      
                }
                else
                {
                  
                    <div class="row">
                        <div class="col-lg-10">
                           <h6 style="color:maroon">No records found for the Report.</h6>
                        </div>

                     </div>
                  
                }

                    
                }
               
            </div>
        </div>

    </div>
</div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () 
        {

             $(document).on("click", '.pagination >li', function (e) {
                var pageNo = $(this).find('a').attr("data-pageNo");
                $.ajax({
                url: '@Url.Action("DateWiseDetails", "TimeEntry")',
                type: "POST",
                data: {
                   UserId : $("#UserID").val(),
                   MonthID: $("#MonthID").val(),
                   ScheduleDate : $("#ScheduleDate").val(),
                    pageNo: pageNo
                    
                }
                
            }).success(function (response) {
                     
                      $("#displayresults").html(response);
                   })
                  .done(function (response) {

                  })

                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("FAIL");
                })
            });

      


        $("[id$=ScheduleDate]").datepicker({
            showOn: 'focus',
            dateFormat: 'mm/dd/yy'
        });
        $('#btnSearch').click(function()
        {
          const dateS = $("#ScheduleDate").val();
          const MonthN = $("#MonthID").val();
          if($("#UserID").val() == "")
           {
               alert("Select the Consultant Name");
               $("#datewisetable").empty();
               $("#navpage").empty();
               return false;
           }
          if(dateS == "" && MonthN == "")
          {
              alert("Select atleast one of the values : (Month Name/Date)");
              $("#datewisetable").empty();
              $("#navpage").empty();
              return false;
          }
        });
    })
    </script>
}
